
    *{font-family: 'Playpen Sans Arabic', sans-serif;
        }
    body{margin: 0;
        padding: 0;
        background:url(../Assets/IMG/Fondomuna-2\ copia.jpg);
        /*background-position: 1300%;*/
                background-size: 100% auto;
        font-weight: 300; /* Light */}
    h1, h2 {
            font-weight: 300; /* Medium */
                    }
    .frente {text-align: center;
        color:rgb(51, 54, 60);  /* color osuro casi negro!*/
            }
    .frente h1{font-size: 30px;
            margin-top: 30px;
            margin-bottom: 0px;
            }
    .logo{float: left;
        width: 100px;
        margin-left: 20px;
        margin-top: 20px;
        }
    header {color: #fff; 
        background:url(../Assets/IMG/ondas\ colores.jpg);
        background-size: cover;
        background-position: left -100px;
        background-repeat: no-repeat;
        display: block; 
        height: 180px;
        text-align: center;
        padding: 10px;
            }  
    .navegacion{/*max-width: 900px;*/
            margin: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 10px;
                }
    .boton {background: none;
        border: none;
        color: inherit;
        font: inherit;
        padding: 0;
        cursor: pointer;
            text-decoration: none;
            text-align: center;
            color:#daa2c5;
            font-weight: 500px;
            text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black; /* Simula un contorno negro */
            display: block;
            margin-right: 15px;
            }
    .iconos{
            position: absolute;
            top: 15px ;
            right: 15px;
            display: flex;
            gap: 20px;
                }
    .iconos a{ color:#daa2c5;/* color de letra A*/
            text-decoration: none;
                }
/*---------------Nosotros--------------------------*/
    .nosotros{text-align: center; 
            background:url(../ASSETS/IMG/Ilustración-sin-título\ 3\ copia.png);
            background-position:  -700px;
            background-color: #f1e1ec;
            padding: 15px;
            width: 1000px;
            border-radius: 20px;
            border: 2px solid  #2b6483;
            margin:  20px auto;}
    .nosotros h1,h2{color:#2b6483}
    p{ color: #1b4f6a; /* color mas fuerte para texto*/
        font-size: large;
        }
    /* -------------imagenes ----------------*/
    .productos h3 {color:#2b6483}
    .carousel1 h2 {text-align: center;
                    color:#2b6483;
                    background-color:white;
                    margin: auto;
                    margin-bottom: 5px;
                    border-bottom: 1px solid #daa2c5;
                }
    .productos  {display:grid;/* le debo poner un template */
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));/* tamaño de un articulo de mi columna */
        gap:15px;/* separacion de cada articulo */
        text-align: center;
        margin: auto;
        max-width: 1200px;
        margin-bottom: 15px;}
    .productos a{color: #2b6483;
                }
    article{
        padding: 8px;
        margin-bottom: 5px;
        border-radius: 10px;
        overflow: hidden;
        transition: background-color 0.3s ease;} /* color con transición*/

    article img{width: 200px;
        border-radius: 10px;
        margin-top: 10px;
        transition: transform 0.3s ease;
            transform-origin: center top;}

    article img:hover{transform: scale(1.08);
                        }
    article:hover{background-color: #bbdfdeb3;}

/* ---------------------carousel---------------------------------------*/
    
    .carousel {
        position: relative;
        width: 500px;
        overflow: hidden;
        margin: auto;
                }
    .carousel-track {
        display: flex;
        transition: transform 0.5s ease;
        }

    .carousel img {
        width: 300px;
        height:400px ;
        flex-shrink: 0;
            }
    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0,0,0,0.5);
        color: white;
        border: none;
        font-size: 24px;
        padding: 10px;
        cursor: pointer;
        z-index: 1;
            }
    .arrow.left {
        left: 0;
        }
    .arrow.right {
        right: 0;
        }
/* --------- Producto interactivo-----------------*/
/*---- @ keyframes-------*/
@keyframes desplazamiento {
    0% {transform: translateX(100%);
        }
    100% {transform: translateX(-100%);
        }
            }
    .desplazamiento {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 50px;
        }
    .desplazamiento h2 {
        text-align: center;
        color:#2b6483;
        background-color:white;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 15px;
        position: absolute;
        white-space: nowrap;
        animation: desplazamiento 15s linear infinite;
        font-size: 2rem;
        min-width: 100%; /* fuerza un tamaño más ancho que la pantalla */
        }
    /*-----------*/
        .productos-interactivos {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .producto {background-color: #8cbec7;
            border: 1px solid #ccc;
            padding: 10px;
            margin-left: 4%;
            width: 250px;
            text-align: center;
            border-radius: 5px ;
            margin-bottom: 10px;
        }
        .producto img {
            width: 80%;
            height: auto;
        }
        .productos-interactivos h2{
            color:#2b6483;
            background-color:white;
            border-radius: 5px ;
            border: 1px solid #ccc;
        }
        #galeria img {
            width: 100px;
            height: 100px;
            border: 2px solid #daa2c5;
            transition: border 0.3s;
            display: block;
            border-radius: 5px ;
          }
          #galeria img:hover {
            height: 300px;
            width: 300px;
            border: 2px solid #daa2c5;
          }
/*-----------------------footer-------------------------------------------*/
    .caja1, .caja2 {
        height: auto;
        text-align: center;
        width: 300px;
        }
    .item {
            display: flex;
            align-items: center;
            gap: 10px;
            }
    .caja4{padding-bottom: 20px;
        }
    .caja4 p{margin: auto;}/* me quita los margin por defecto */
    footer{text-align: center;
        padding-top: 3px;
            background-color: white;
        border-top: 1px solid #daa2c5;
        }
    .cajon{display: flex;
            justify-content: center; /* Centra horizontalmente los elementos */
            gap: 300px;
            color: #2b6483;
        }                   /*  gap:Espacio entre los div */
    footer ul{padding: 0;
                margin: 0;
            }
    .navegacion1 ul {text-decoration: none;
            list-style-type: none; /* =list style */
                }
                .navegacion1 a {
                    color: #daa2c5; /* Cambia este valor por el color que prefieras */
                    text-decoration: none; /* Esto elimina la línea subrayada */
                }
    .item a { color:#daa2c5;/* color de letra A*/
                text-decoration: none;
                    }
    span{color: #2b6483;
            }
/*---------@ media ------------------------------*/
            @media (max-width: 760px) {
                body{background:url(../Assets/IMG/Fondomuna.jpg);
                    background-position: 5%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;}
            header {
                height: auto;
                padding: 20px;
                background-position: center;
                text-align: center;
                }
            .iconos {
                position: static;
                justify-content: center;
                margin-bottom: 10px;
                }
            .iconos a{ color:white;/* color de letra A*/
                    text-decoration: none;
                        }
            .logo {
                float: none;
                display: block;
                margin: 0 auto 10px auto;
                width: 100px;
                }
            .frente h1 {
                font-size: 22px;
                width: auto;
                padding: 10px;
                }
            .navegacion {
                gap: 10px;
                }
            .boton {
                width: 90%;
                padding: 10px;
                font-size: 16px;
                }
            .nosotros {
                width: 90%;
                background-position: center;
                padding: 10px;
                }
            .carousel img {
                width: 60%;
                height: auto;
                }
            .cajon {display: block;
                flex-direction: column;
                align-items: center;
                }
                footer{padding: 10px;
                    margin: 5px;
                    text-align: center;
                    font-size: 13px;}
            footer .navegacion1 ul {
                padding-left: 0;
                }
            footer .item{display: block;}
            .carousel-track{
                            width: 100%;
            }
            .carousel1 h2 {
                font-size: 20px;
                padding: 10px;
                }
            .productos {
                display: flex;
                flex-direction: column;
                align-items: center;
                }
            .productos article {
                width: 90%;
                margin-bottom: 20px;
                }
            }
            @media (min-width: 761px) and (max-width: 1024px){
                .carousel img {
                    width: 100%;
                    height: auto;
                    }
            }

